{% extends "base.html" %}

{% block title %}Mom{% endblock %}

{% block content %}

    <h2 class="title">Mom Mugs</h2>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="row">
                    
                </div>
            </div>

            <div class="col-md-4">
                
            </div>

        </div>

    </div>

    {% for mom in moms %}

        <h2>Mom name: {{ mom.name }}, price M: {{ mom.priceM }}</h2>

    {% endfor %}

{% endblock %}