{% extends "base.html" %}
{% load static %}
{% block title %}Delete Your Review{% endblock %}

{% block content %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h2>Confirm to Delete Your Review</h2>
            <p>Are you sure you want to permanently delete the review "<strong>{{ post.title }}</strong>"?</p>
            <form method="post" action="{% url 'coffeeshop:delete_review' post.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hover">Confirm</button>
                <a href="{% url 'coffeeshop:add_review' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </section>
</div>
{% endblock %}
