{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Edit Your Review{% endblock %}

{% block content %}
<div class="container pt-5">
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in review.coffee_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ review.coffee_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    <div class="form-group form-buttons">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Save
        </button>
        <a href="{% url 'coffeeshop:add_review' %}" class="btn btn-outline-primary custom-remove-btn">Cancel</a>
    </div>
</form>
</div>

{% endblock %}