 <!-- Footer -->
 <div class="footer-container">
 <footer class="container-wrapper">
    <div class="container content-container">
        <div class="row">
            <div class="col-sm-3 centralize-content">
                <h3>Cup Of Joy</h3>
                <p>
                    For Coffee Lovers
                </p>
            </div>
            <div class="col-sm-3 centralize-content">
                <h3>Discover</h3>
                <p>
                  <a class="nav-link {% if request.path == coffeeshop %}active" aria-current="page{%endif%}"
                  href="{% url 'coffeeshop:index' %}">Reviews</a>
                </p>
            </div>
            <div class="col-sm-3 centralize-content">
                <!-- Restaurant Info -->
                <h3>Contact</h3>
                <div><i class="fa-solid fa-phone"></i> 83 1233535</div>
                <div><i class="fa-solid fa-location-pin"></i> 
                    55 Best Place Terrace,<br>
                    Big Canal Quay,<br>
                    Dublin.
                </div>
                <div><i class="fa-solid fa-envelope"></i>
                    info@itrestaurant.com
                </div>
            </div>
            <div class="col-sm-3 centralize-content">
                <!-- Restaurant Social Media -->
                <h3>Social</h3>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- Footer -->