 <!-- Footer -->

 <footer class="container-wrapper">
    <div class="container content-container">
        <div class="row">
            <div class="col-sm-3 centralize-content">
                <h3><i class="fa-solid fa-house"></i> Home</h3>
                <div>
                    <a class="nav-link {% if request.path == coffeeshop %}active" aria-current="page{%endif%}"
                    href="{% url 'home' %}">For Coffee Lovers</a>
                  </div>
            </div>
            <div class="col-sm-3 centralize-content">
                <h3><i class="fa-solid fa-binoculars"></i> Discover</h3>
                <div>
                  <a class="nav-link {% if request.path == coffeeshop %}active" aria-current="page{%endif%}"
                  href="{% url 'coffeeshop:index' %}">Coffee Shops Reviews</a>
                </div>
            </div>
            <div class="col-sm-3 centralize-content">
                <!-- Info -->
                <h3><i class="fa-solid fa-envelope"></i> Contact</h3>
                <div>
                    <a class="nav-link {% if request.path == coffeeshop %}active" aria-current="page{%endif%}"
                    href="{% url 'about' %}">About Us</a>
                  </div>
            </div>
            <div class="col-sm-3 centralize-content">
                <!-- Social Media -->
                <h3><i class="fa-solid fa-users"></i> Social</h3>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.youtube.com/">
                        <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://github.com/AmirShkolnik">
                            <i class="fa-brands fa-github" aria-hidden="true"></i>
                            <span class="sr-only">GitHub Amir Shkolnik</span>
                            </a>
                        </li>
                </ul>
            </div>
        </div>
        <div class="copyright-text">
        <h3>Copyright 2024 - Amir Shkolnik</h3>
    </div>
    </div>
</footer>