{% load static %}

<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand {% if request.path == home_url %}active" aria-current="page{%endif%}"
           href="{% url 'home' %}">
            <img src="{% static 'images/mug-white.png' %}" alt="Cup Of Joy logo">
            <span class="brand, blue-o">CUP<span class="text-white">of</span><span class="thin, blue-o">JOY</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active" aria-current="page{%endif%}"
                       href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == about_url %}active" aria-current="page{%endif%}"
                       href="{% url 'articles' %}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == coffeeshop %}active" aria-current="page{%endif%}"
                       href="{% url 'coffeeshop:index' %}">Reviews</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user" aria-hidden="true"></i> {{ user }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if request.path == coffeeshop_url %}active" aria-current="page{%endif%}" href="{% url 'coffeeshop:add_review' %}">My Reviews</a></li>
                        <li><a class="dropdown-item {% if request.path == coffeeshop_url %}active" aria-current="page{%endif%}" href="{% url 'coffeeshop:add' %}">Add New Review</a></li>
                        <li><a class="dropdown-item {% if request.path == blog_url %}active" aria-current="page{%endif%}" href="{% url 'favourite_list' %}">My Favourite Posts</a></li>
                        <li><a class="dropdown-item {% if request.path == blog_url %}active" aria-current="page{%endif%}" href="{% url 'comments_list' %}">My Comments</a></li>
                        <li>
                            <a class="dropdown-item {% if request.path == logout_url %}active" aria-current="page{%endif%}"
                               href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{%endif%}"
                       href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active" aria-current="page{%endif%}"
                       href="{% url 'account_login' %}"><i class="fa-solid fa-user" aria-hidden="true"></i> Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>