{% load static %}

<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'images/coffee-slide-10.webp' %}" alt="Slideshow Image 1" style="width:100%">
  </div>

  <div class="mySlides fade">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'images/coffee-slide-6.webp' %}" alt="Slideshow Image 2" style="width:100%">
  </div>

  <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'images/coffee-slide-7.webp' %}" alt="Slideshow Image 3" style="width:100%">
  </div>

  <div class="mySlides fade">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'images/coffee-slide-5.webp' %}" alt="Slideshow Image 4" style="width:100%">
  </div>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>