{% extends 'base.html' %}
{% load static %}

{% block title %}My Comments{% endblock %}

{% block content %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1>{{ user }}'s Comments</h1>
            <p class="lead text-muted">Here you can view all the comments you have made on different posts. If you wish to edit or remove a comment, click on the relevant article, and you will find your comment at the end of the article.</p>
        </div>
    </section>
    <div>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'post_detail' comment.post.slug %}">{{ comment.post.title }}</a>
                        </h5>
                        <p class="card-text">{{ comment.body }}</p>
                        <p class="card-text"><small class="text-muted">{{ comment.created_on }}</small></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You haven't made any comments yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
