{% extends "base.html" %}
{% load static %}
{% block title %}Confirm Like Removal{% endblock %}

{% block content %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h2>Confirm Like Removal</h2>
            <p>Are you sure you want to remove "{{ post.title }}" from your likes?</p>
            <form method="post" action="{% url 'confirm_like_removal' post.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hover">Confirm</button>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </section>
</div>
{% endblock %}