{% extends "base.html" %}
{% load static %}
{% block title %}Delete Your Review{% endblock %}

{% block content %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
<h2>Confirm Remove Favorite</h2>
  <p>Are you sure you want to remove "{{ post.title }}" from your favorites?</p>
  <form method="post" action="{% url 'favourite_remove' post.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary hover">Confirm</button>
<a href="{% url 'favourite_list' %}" class="btn btn-secondary">Cancel</a>
  </form> 
</div>
</section>
</div>
{% endblock %}