{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- index.html content starts here -->

<!-- Callout -->
<div class="navbar-container">
    {% include 'includes/navbar.html' %}
  </div>
<div class="container-fluid callout-container">

  <div class="opaque-overlay"></div>
  <div class="container content-container">
      <div class="row">
          <div class="col-12">
              <section class="jumbotron text-center">
                  <h1 class="jumbotron-header">From Bean to Bliss: Your Ultimate Guide to the Perfect Cup</h1>
                  <hr class="block-divider">
                  <p class="lead">Coffee: It's a lifestyle! Discover gems and brewing hacks! What's your favorite shop? Share it in Reviews!
                      <span class="d-inline d-sm-none"><br></span>
                  </p>
              </section>
          </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-md-3">
            <ul id="nav-grid" class="list-inline menucontainer">
                <li class="ui-menu-color-home menuitem">
                    <a href="{% url 'home' as home_url %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-mug-hot" aria-hidden="true"></i>
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="nav-grid" class="list-inline menucontainer">
                <li class="ui-menu-color-articles menuitem">
                    <a href="resume.html" class="hvr-sweep-to-bottom"><i class="fa-solid fa-newspaper" aria-hidden="true"></i><span>Articles</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="nav-grid" class="list-inline menucontainer">
                <li class="ui-menu-color-review menuitem">
                    <a href="{% url 'coffeeshop:add_review' %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-magnifying-glass-location" aria-hidden="true "></i><span>Coffee Shop Reviews</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="nav-grid" class="list-inline menucontainer">
                <li class="ui-menu-color-login menuitem">
                    <a href="interests.html" class="hvr-sweep-to-bottom"><i class="fa-solid fa-user" aria-hidden="true"></i><span>Login</span></a>
                </li>
            </ul>
        </div>
    </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- Callout -->
 
<!-- index.html content ends here -->

{% include 'includes/footer.html' %}

{% endblock %}