{% extends "base_home.html" %}
{% load static %}

{% block title %}Cup Of Joy{% endblock %}
{% block content %}
<!-- index.html content starts here -->

<!-- Callout -->
<div class="navbar-container-home">
    {% include 'includes/navbar.html' %}
</div>
<div class="container-fluid callout-container-home">

    <div class="opaque-overlay-home"></div>
    <div class="container content-container">
        <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center-home">
                    <h1 class="jumbotron-header-home">From Bean to Bliss: Your Ultimate Guide to the Perfect Cup</h1>
                    <hr class="block-divider-home">
                    <p class="lead">Coffee: It's a lifestyle! Discover gems and brewing hacks! What's your favorite shop? Share it in Reviews!
                        <span class="d-inline d-sm-none"><br></span>
                    </p>
                </section>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-3">
                <ul class="list-inline menucontainer nav-grid">
                    <li class="ui-menu-color-home menuitem nav-grid-li">
                        <a href="{% url 'home' as home_url %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-mug-hot" aria-hidden="true"></i>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-inline menucontainer nav-grid">
                    <li class="ui-menu-color-articles menuitem nav-grid-li">
                        <a href="{% url 'articles' %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-newspaper" aria-hidden="true"></i><span>Articles</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-inline menucontainer nav-grid">
                    <li class="ui-menu-color-review menuitem nav-grid-li">
                        <a href="{% url 'coffeeshop:index' %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-magnifying-glass-location" aria-hidden="true"></i><span>Coffee Shops Reviews</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-inline menucontainer nav-grid">
                    <li class="ui-menu-color-login menuitem nav-grid-li">
                        {% if user.is_authenticated %}
                            <!-- User is already logged in -->
                            <a href="{% url 'articles' %}" class="hvr-sweep-to-bottom"><i class="fa-solid fa-user" aria-hidden="true"></i><span>Welcome Back {{ user }}</span></a>
                        {% else %}
                            <a class="hvr-sweep-to-bottom {% if request.path == login_url %}active" aria-current="page{%endif%}"
                               href="{% url 'account_login' %}"><i class="fa-solid fa-user" aria-hidden="true"></i><span> Login</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Callout -->

<!-- index.html content ends here -->

<div class="footer-container-home">
    {% include 'includes/footer.html' %}
</div>

{% endblock %}
