{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/background.jpg' %}" alt="Background Image">
        <div class="carousel-caption d-none d-md-block">
          <h1>Headline Text</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Clickable Boxes -->
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block">Box 1</a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block">Box 2</a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block">Box 3</a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block">Box 4</a>
      </div>
    </div>
  </div>
{% endblock %}