{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/blog_index.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid banner">
  <div class="row">
    <div class="col-md-12">
   
    </div>
    <div class="col-md-8 offset-md-2 info">
      <h1 class="text-center">From Bean to Bliss: Explore the World of Coffee</h1>
      <p class="text-center">
        From bean to bliss, your coffee journey starts here. Explore diverse flavors, brewing tips & hidden cafes. Tell us about your favorite coffee spots in the reviews!
      </p>
      <a href="#" class="btn btn-md text-center">GET STARTED</a>
    </div>
  </div>
</div>
{% endblock %}