{% extends 'base.html' %}
{% load static %}

{% block title %}My Comments{% endblock %}

{% block content %}
<div class="container">
    <!-- Jumbotron section for the page header -->
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <!-- Display the user's name and a brief description -->
            <h1>My Comments</h1>
            <p class="lead text-muted">Here you can view all the comments you have made on different posts.</p>
        </div>
    </section>
    <div>
         <!-- Check if there are any comments -->
        {% if comments %}
        <!-- Loop through each comment -->
            {% for comment in comments %}
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Display the title of the post the comment is related to -->
                        <h5 class="card-title">{{ comment.post.title }}</h5>
                        <!-- Display the comment body -->
                        <p class="card-text">{{ comment.body }}</p>
                        <p class="card-text">
                            <small class="text-muted">{{ comment.created_on }}</small>
                            {% if comment.approved %}
                                <span class="badge badge-success text-success">Published</span>
                            {% elif comment %}
                                <span class="badge badge-warning text-danger">Awaiting Approval</span>
                            {% else %}
                                <span class="badge badge-danger text-red-500">Rejected or Deleted</span>
                            {% endif %}
                        </p>
                        {% if comment %}
                            <a href="{% url 'post_detail' comment.post.slug %}" class="btn btn-primary">View Post</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- Message to display if the user hasn't made any comments -->
            <p>You haven't made any comments yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}