{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center about-text">
            {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/nobody.jpg' %}" class="scale" alt="placeholder image">
                {% else %}
                <img src="{{ about.profile_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Contact Us!</h2>
            <p>At Cup Of Joy, we're always eager to connect with fellow coffee 
                enthusiasts and hear your thoughts, suggestions, and experiences.</p>
            <p>Whether you have a burning question about brewing techniques, want 
                to share your latest coffee discovery, or simply wish to express 
                your love for the aromatic bean, we're all ears!</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
